body {
  width: 960px;
  margin: 0 auto;
}

nav ul {
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav-item {
  color: white;
  display: block;
  padding: 5px 35px;
  border: 1px black solid;
  background-color: #064006;
}

.nav-item:hover {
  background-color: #bddabe;
  color: #3e533f;
}

.home-content, .search-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: inherit;
  z-index: 1;
}

.home-content a, .search-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.home-content a:hover {
  background-color: #f1f1f1;
}

.search-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .home-content {
  display: block;
}

.dropdown:hover .search-content {
  display: block;
}
